.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  flex: 1;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 6rem auto;

  font-family: monospace;
  font-size: 20px;
  color: #333;
}

.main h1 {
  margin: 1rem 0;
  line-height: 1.15;
  font-size: 28px;
}

.listing {
    margin: 0 -12px;
}

.listing div {
    padding: 4px 12px;
}

.main a:hover,
.main a:active,
.main a:focus {
    text-decoration: none;
    font-weight: bold;
}

.listing div:nth-child(even) { background: #eee }
.listing div:nth-child(odd) { background: #fff }

.breadcrumbs {
    margin: 1rem 0 1rem -8px;
    font-size: 16px;
    color: #666 !important;
}

.breadcrumbs .separator {
    margin: 0 8px;
}

.homeLink {
    font-size: 16px;
    color: #666;
    display: block;
    margin-bottom: 2rem;
}